{
  "Forest On Stasys - Ancestral Lineage - 01 Ramree.aiff": {
    "energy": "building",
    "vibes": [
      "hypnotic",
      "melodic",
      "clean/digital"
    ]
  },
  "Basis Change, Einerlei & iZueL_ - Synergy - 01 Synergy (Jupetto Mix).aiff": {
    "energy": "closing",
    "vibes": [
      "analog/lofi",
      "atmospheric"
    ]
  },
  "Lanthan.audio - Abstract Division - Corrosive Mind - LNTHN006 - 04 B2. Abstract Division - Intervention (Albert van Abbe Version).aiff": {
    "energy": "peak",
    "vibes": [
      "dark",
      "melodic",
      "analog/lofi"
    ]
  },
  "Cari Lekebusch - First Occasion.aiff": {
    "energy": "peak",
    "vibes": [
      "analog/lofi",
      "atmospheric",
      "dubby"
    ]
  },
  "Henrik Bergqvist - Caballo Blanco.aiff": {
    "energy": "building",
    "vibes": [
      "dubby",
      "melodic",
      "trippy"
    ]
  },
  "Na Nich - Black Soil EP - 01 Inlamint.aiff": {
    "energy": "peak",
    "vibes": [
      "hypnotic",
      "melodic",
      "clean/digital",
      "atmospheric"
    ]
  },
  "Altinbas - Inner Space - 03 Adda.aiff": {
    "energy": "intense",
    "vibes": [
      "dark",
      "hypnotic",
      "clean/digital"
    ]
  },
  "Abstract Man - A Dove Has Spread Her Wings- Relief for Ukraine - 07 Unity.aiff": {
    "energy": "building",
    "vibes": [
      "dark",
      "clean/digital",
      "atmospheric"
    ]
  },
  "Kalawila - Slagsm\u00e5l utbr\u00f6t p\u00e5 Mount Everest - 01 Slagsm\u00e5l utbr\u00f6t p\u00e5 Mount Everest.aiff": {
    "energy": "peak",
    "vibes": [
      "hypnotic",
      "dark",
      "analog/lofi"
    ]
  },
  "Mattias El Mansouri - Aniara30- Tja Hej Salam - 04 Heliga Berget (Instrumental).aiff": {
    "energy": "building",
    "vibes": [
      "trippy",
      "melodic",
      "hypnotic"
    ]
  }
}