[
  {
    "path": "/Users/maxr/iCloudDrive/bandcamp_exports/2023-09/Forest On Stasys - Ancestral Lineage - 01 Ramree.aiff",
    "filename": "Forest On Stasys - Ancestral Lineage - 01 Ramree.aiff",
    "title": "Forest On Stasys - Ancestral Lineage - 01 Ramree",
    "month": "2023-09"
  },
  {
    "path": "/Users/maxr/iCloudDrive/bandcamp_exports/2024-06/Basis Change, Einerlei & iZueL_ - Synergy - 01 Synergy (Jupetto Mix).aiff",
    "filename": "Basis Change, Einerlei & iZueL_ - Synergy - 01 Synergy (Jupetto Mix).aiff",
    "title": "Basis Change, Einerlei & iZueL_ - Synergy - 01 Synergy (Jupetto Mix)",
    "month": "2024-06"
  },
  {
    "path": "/Users/maxr/iCloudDrive/bandcamp_exports/2017-03/Lanthan.audio - Abstract Division - Corrosive Mind - LNTHN006 - 04 B2. Abstract Division - Intervention (Albert van Abbe Version).aiff",
    "filename": "Lanthan.audio - Abstract Division - Corrosive Mind - LNTHN006 - 04 B2. Abstract Division - Intervention (Albert van Abbe Version).aiff",
    "title": "Lanthan.audio - Abstract Division - Corrosive Mind - LNTHN006 - 04 B2. Abstract Division - Intervention (Albert van Abbe Version)",
    "month": "2017-03"
  },
  {
    "path": "/Users/maxr/iCloudDrive/bandcamp_exports/2025-07/Cari Lekebusch - First Occasion.aiff",
    "filename": "Cari Lekebusch - First Occasion.aiff",
    "title": "Cari Lekebusch - First Occasion",
    "month": "2025-07"
  },
  {
    "path": "/Users/maxr/iCloudDrive/bandcamp_exports/2025-05/Henrik Bergqvist - Caballo Blanco.aiff",
    "filename": "Henrik Bergqvist - Caballo Blanco.aiff",
    "title": "Henrik Bergqvist - Caballo Blanco",
    "month": "2025-05"
  },
  {
    "path": "/Users/maxr/iCloudDrive/bandcamp_exports/2025-02/Na Nich - Black Soil EP - 01 Inlamint.aiff",
    "filename": "Na Nich - Black Soil EP - 01 Inlamint.aiff",
    "title": "Na Nich - Black Soil EP - 01 Inlamint",
    "month": "2025-02"
  },
  {
    "path": "/Users/maxr/iCloudDrive/bandcamp_exports/2023-03/Altinbas - Inner Space - 03 Adda.aiff",
    "filename": "Altinbas - Inner Space - 03 Adda.aiff",
    "title": "Altinbas - Inner Space - 03 Adda",
    "month": "2023-03"
  },
  {
    "path": "/Users/maxr/iCloudDrive/bandcamp_exports/2022-03/Abstract Man - A Dove Has Spread Her Wings- Relief for Ukraine - 07 Unity.aiff",
    "filename": "Abstract Man - A Dove Has Spread Her Wings- Relief for Ukraine - 07 Unity.aiff",
    "title": "Abstract Man - A Dove Has Spread Her Wings- Relief for Ukraine - 07 Unity",
    "month": "2022-03"
  },
  {
    "path": "/Users/maxr/iCloudDrive/bandcamp_exports/2024-04/Kalawila - Slagsm\u00e5l utbr\u00f6t p\u00e5 Mount Everest - 01 Slagsm\u00e5l utbr\u00f6t p\u00e5 Mount Everest.aiff",
    "filename": "Kalawila - Slagsm\u00e5l utbr\u00f6t p\u00e5 Mount Everest - 01 Slagsm\u00e5l utbr\u00f6t p\u00e5 Mount Everest.aiff",
    "title": "Kalawila - Slagsm\u00e5l utbr\u00f6t p\u00e5 Mount Everest - 01 Slagsm\u00e5l utbr\u00f6t p\u00e5 Mount Everest",
    "month": "2024-04"
  },
  {
    "path": "/Users/maxr/iCloudDrive/bandcamp_exports/2025-05/Mattias El Mansouri - Aniara30- Tja Hej Salam - 04 Heliga Berget (Instrumental).aiff",
    "filename": "Mattias El Mansouri - Aniara30- Tja Hej Salam - 04 Heliga Berget (Instrumental).aiff",
    "title": "Mattias El Mansouri - Aniara30- Tja Hej Salam - 04 Heliga Berget (Instrumental)",
    "month": "2025-05"
  }
]